<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Word Reverse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73C9C40C1BB0987600F4960F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73C9C4201BB0987700F4960F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73C9C42B1BB0987700F4960F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
